@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

img {
  width: 100%;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: #2f3044;
}

p {
  padding: 0;
  margin: 0;
  color: #2f3044;
}

.btn {
  padding: 10px 15px;
  &:focus {
    box-shadow: none;
  }
}

a {
  padding: 0;
  margin: 0;
}

body {
  font-family: "poppinsregular";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.btn-primary{
  color: #fff!important;
  background-color: #0062cc!important;
  border-color: #005cbf!important;
  &:hover{
    color: #fff!important;
    background-color: #0069d9!important;
    border-color: #0062cc!important;
  }
}
.btn-white{
  border: 1px solid rgba(155, 155, 155, 0.5) !important;
  color: rgba(47, 48, 68, 0.5) !important;
  background-color: transparent!important;
  &:hover{
    color: #fff!important;
    background-color: rgba(47, 48, 68, 0.5) !important;
    border: 1px solid rgba(155, 155, 155, 0.5) !important;
  }
}


header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  .collapse {
    justify-content: flex-end;
    .navbar-nav {
      align-items: center;
      .nav-item {
        padding: 0 0 0 20px;
        position: relative;
        .nav-link {
          color: #2f3044;
          span {
            i {
              font-size: 30px;
            }
          }
        }
      }
      .profile {
        .nav-link {
          img {
            border-radius: 50%;
          }
        }
      }
      .notification {
        a {
          position: relative;
          &:before {
            content: "1";
            position: absolute;
            right: 0;
            top: 0;
            background-color: #3699ff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  background: transparent;
}

.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 20%;
}
.ui.form .twelve.wide.field {
  width: 100%!important;
}
.ui.segment {
  position: relative;
  background: #fff;
  box-shadow:transparent;
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 0px solid rgba(34,36,38,.15);
}
.ui.input>input {
  border: 0px solid rgba(34,36,38,.15);
  transition: box-shadow .1s ease,border-color .1s ease;
  box-shadow: none;
  background: transparent;
  padding: 0;
}
.ui.form input[type=text]{
  padding: 6px 0; 
  background: transparent;
  border: 0px solid rgba(34,36,38,.15);
}
.ui.form input[type=tel]{
  padding: 6px 0; 
  background: transparent;
  border: 0px solid rgba(34,36,38,.15); 
}
// .ui.form input[type=time]{
//   padding: 6px 0; 
//   background: transparent;
//   border: 0px solid rgba(34,36,38,.15);  
// }
.form-check-inline .form-check-input {
  opacity: 0;
}

//register page

.log-in-form{
  .form-control{
    input{
      border: none !important;
      background-color: #fff !important;
        &:-internal-autofill-selected {
          background-color: #fff !important;
        }
        &:-webkit-autofill {
          box-shadow: none !important;
          border-color: #fff !important;
      }
    }
  }
  .log-in-img {
    position: relative;
    height: 100vh;
    overflow: hidden;
      .log-in-img-overlay {
        position: absolute;
        top: 15%;
        left: 10%;
        right: 10%;
        text-align: center;
        img {
          max-width: 200px;
          margin: 0 0 20px;
      }
      p{
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.fixHeight {
  height: 90vh;
  overflow-y: auto;
}